.descriptionBlock {
  padding: 0 10px 10px 10px;
}

.title{
  font-family: 'Permanent Marker', cursive;
}

.newPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newText {
  width: 80%;
  height: 46px;
  padding: 12px;
  border: thin solid #333;
  border-radius: 4px;
  background-color: #eee;
  font-size: 16px;
  resize: vertical;
}

.createPost {
  width: 20%;
  height: 46px;
  margin-left: 10px;
  border: none;
  background: linear-gradient(to left, #333, #E51316, #333);
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  background-size: 200%;
  transition: .5s;
  cursor: pointer;
}

.createPost:hover{
  background-position: right;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.createPost:active {
  transition: .1s;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.24);
}

.posts{
  margin-top: 10px;
}