.nav {
  grid-area: nav;
}

.link {
  color: #333;
  text-decoration: none;
}

.item{
  padding: 8px
}

.item:hover {
  background-color: #eee;
}

.active .item {
  background-color: #333;
  color: #fff;
}